body {
  background-color: var(--pico-background-color);
}

article {
  max-width: 720px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.profile-lead-title {
  margin: 0;
}

.details-list {
  font-size: 14px;

  dd {
    text-align: right;
  }

  .details-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--pico-primary-underline);
  }
}

.columns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .column {
    margin-bottom: 48px;
  }

  @media all and (min-width: 964px) {
    &.m-is-2 {
      justify-content: space-between;
      flex-direction: row;
      gap: 24px;

      .column {
        width: 50%;
      }
    }
  }
}

.column-title {
  margin-bottom: 36px;
}

.m-0 {
  margin: 0;
}

.mb-1 {
  margin-bottom: 16px;
}

.mb-2 {
  margin-bottom: 32px;
}

small {
  font-weight: lighter;
}

.highlighted-list {
  padding-left: 0;
}

.highlighted-list li {
  list-style-type: none;
  padding: 6px 0;
}

details summary + *:first-of-type {
  margin-bottom: 32px;
}

header {
  position: relative;
}

.flying-badge {
  position: absolute;
  top: -16px;
  right: 8px;
  z-index: 100;
}

.flying-badge.inside {
  top: 8px;
  right: 8px;
}

dialog article {
  position: relative;
}

/*dialog > kbd {*/
/*  font-size: 18px;*/
/*  color: #fff;*/
/*}*/