body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--pico-background-color);
}

footer {
  margin-top: auto;
}

body.dialog-open {
  overflow: hidden;
}

article {
  max-width: 720px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.profile-lead-title {
  margin: 0;
}

.details-list {
  font-size: 14px;

  dd {
    text-align: right;
  }

  .details-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--pico-primary-underline);
  }
}

.columns .column {
  margin-bottom: 24px;
}

.columns .column:last-of-type {
  margin-bottom: 0;
}

.column-title {
  margin-bottom: 36px;
}

.m-0 {
  margin: 0;
}

.mb-1 {
  margin-bottom: 16px;
}

.mb-2 {
  margin-bottom: 32px;
}

.mb-3 {
  margin-bottom: 48px;
}

.mt-1 {
  margin-top: 16px;
}

small {
  font-weight: lighter;
}

.highlighted-list {
  padding-left: 0;
}

.highlighted-list li {
  list-style-type: none;
  padding: 6px 0;
}

.highlighted-list.small li {
  padding: 2px 0;
}

.highlighted-list li u {
  cursor: pointer;
}

details summary + *:first-of-type {
  margin-bottom: 32px;
}

header {
  position: relative;
}

.relative-wrapper {
  position: relative;
}

.flying-badge {
  position: absolute;
  top: -24px;
  right: 8px;
  z-index: 100;
}

.flying-badge.inside {
  top: 8px;
  right: 8px;
}

dialog article {
  min-width: 300px;
  margin: 0;
}

[data-theme-switcher] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

[aria-busy] {
  font-size: 26px;
  height: 26px;
}

button[type="submit"] {
  padding: 0.2rem;
}

[for-dialog] {
  cursor: pointer;
}

@media all and (min-width: 1024px) {
  .columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 24px;
  }

  .columns .column {
    width: 50%;
    margin: 0;
  }
}
