{% extends "layout.html" %}
{% block title %}O BLS Stats{% endblock %}
{% block content %}
    <h1>O stronie</h1>

    <h4>Co to jest BLS Stats?</h4>
    <p><strong>Jest to w 100% hobbystyczny projekt</strong>, pisany przez amatora siatkówki, który wie o programowaniu troche więcej niż o siatkówce :). Powstał z potrzeby przeglądania statystyk na stronie <a href="https://blssiatkowka.ligspace.pl/" target="_blank">blssiatkowka.ligspace.pl</a> na telefonie komórkowym. Niestety serwis Ligspace nie jest przystosowany do urządzeń mobilnych. Ta strona ma na celu "naprawienie" tej niedogodności.</p>
    <p>Dane, które tutaj znajdziecie w pełni polegają na wyżej wymienionym serwisie.</p>
    <p>Jest to obecnie bardzo okrojona wersja, która nie zawiera wszystkich informacji dostępnych na stronie BLS'u. Raczej jest to zbiór podstawowych informacji, które mogą okazać się przydatne a przede wszystkim łatwe w dostępie.</p>
    <p><strong>WAŻNE</strong>: W statystykach mogą pojawiać się błędy</p>

    <hr>

    <p><small>Zachęcam do wspólnego rozwiajania projektu. <br> Link do repozytorium znajduje się w stopce strony.</small></p>
{% endblock %}