{% extends "layout.html" %}
{% block content %}
    <section class="mb-2">
        <h2>Witaj na stronie BLS Stats!</h2>
        <p>
            Obecnie wspieramy tylko jedną drużynę, mamy jednak nadzieję, iż zmieni się to w przyszłości :)
        </p>
    </section>

    <article>
        <header>
            <h4>{{ data.team_name }}</h4>
            <p class="m-0"><mark>{{ data.season }}</mark></p>
        </header>

        <ul class="highlighted-list">
            {% for player in data.players %}
                <li>
                    <a href="/profile/{{ player.id }}" class="contrast">{{ player.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </article>
{% endblock %}
