{% extends "layout.html" %}
{% block content %}
    <div>
        <header class="mb-3">
            <h1>Witaj na stronie BLS Stats</h1>
            <p>Wybierz drużynę oraz zawodnika aby przeglądać jego/jej statystyki.</p>
            <p>Więcej informacji o tym, dlaczego powstała ta strona znajdziesz <a href="/about">tutaj</a>.</p>
        </header>

        <div class="columns">
            <article class="column">
                <header>
                    <h4 class="m-0">I Liga</h4>
                </header>

                {% with data=data.league_teams_1 %}
                    {% include "partials/team_list_for_league.html" %}
                {% endwith %}
            </article>

            <article class="column">
                <header>
                    <h4 class="m-0">II Liga</h4>
                </header>

                {% with data=data.league_teams_2 %}
                    {% include "partials/team_list_for_league.html" %}
                {% endwith %}
            </article>
        </div>
    </div>

    <dialog id="team-dialog">
        <kbd
          class="flying-badge inside"
          for-dialog="team-dialog"
          with-reset="#team-dialog-body"
          with-reset-content='<p aria-busy="true"></p>'
        >&nbsp;&Cross;&nbsp;</kbd>
        <div id="team-dialog-body">
            <p aria-busy="true"></p>
        </div>
    </dialog>
{% endblock %}
